body {
    background-color: darkgray;
    margin:20px;
}

body, 
.movie input,
.movie button{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.movie {
    border:solid 4px;
    padding:30px;
    background-color: white;
    display: inline-block;
}

.movie .poster {
    width: 500px;
}

.movie .rating {
    display: flex;
    justify-content: center;
}

.movie .rating img {
    width:50px;
    cursor:pointer;
    padding:0 20px;
}

.movie .result {
    text-align: center;
    padding-top:30px;
    cursor: pointer;
}
