.performer-info {
background-color: #F40F5F !important;
  color: #F40F5F !important;


}

.bg-custom{
background-color: #1A9DA3 !important;
  color: #F40F5F;
  font-family: 'Caveat', cursive;
}

.error{
margin-left:20px;
color:black;
}
.user-image{
border-radius: 50%;
border: 1px solid #1A9DA3;
}
.border-none{
border:none;
}

.navbar-custom {
  padding: 60px;
  text-align: center;
  background-color: #1A9DA3;
  color: #F40F5F;
  font-size: 30px;

}.btn-primary{
    background-color: #1A9DA3 !important;
     padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            width:150px;

}
.btn-secondary {
    background-color: #F40F5F !important;
        width:150px;

}

.text-custom {
color:#F40F5F;
font-family: 'Caveat', cursive;
}

.text-custom a{
    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;}

.text-custom_two {
color:black;
font-family: 'Caveat', cursive;
}

.text-custom_white {
                  color:white;
                  font-family: 'Caveat', cursive;
                  }

.btn-custom{
color:#F40F5F;

}
h1{
font-family: 'Caveat', cursive;}
.bg-custom{
background-color:#E6E6E6;
}

.icon-black{
color: black;
}

.button{
  background-color: #1A9DA3 !important;
  color: white;

}


#button2{
  background-color: #F40F5F;
  color: white;

}

.center {
display:block;
margin-left: auto;
margin-right: auto;
width 50px;

}









