<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!-- Required meta tags -->


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Create user</title>
</head>
<body>
<form action="" method="post" class="mb-3" th:object="${user}">
  <label for="FormInput1" class="form-label">First name</label>
  <input type="text" th:field="*{firstName}" class="form-control" id="FormInput1" th:placeholder="${session.user.firstName}">

  <label for="FormInput2" class="form-label">Last name</label>
  <input type="text" th:field="*{lastName}" class="form-control" id="FormInput2" th:placeholder="${session.user.lastName}">

  <label for="FormInput3" class="form-label">Email address</label>
  <input type="email" th:field="*{email}" class="form-control" id="FormInput3" th:placeholder="${session.user.email}">

  <label for="FormInput3" class="form-label">Location</label>
  <input type="text" th:field="*{location}" id="location">
  <button onclick="setLocation()">Get Location</button>
  <input type="hidden" th:field="*{latitude}" id="latitude">
  <input type="hidden" th:field="*{longitude}" id="longitude">
  <label for="exampleDataList" class="form-label">Add skill</label>
  <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
  <datalist id="datalistOptions">
    <option th:each="skills: ${skills}"  th:value="${skills.skillName}">
  </datalist>
  <!--div th:if>
      <label for="exampleDataList2" class="form-label">Add second skill</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList2" placeholder="Type to search...">
      <datalist id="datalistOptions2">
          <option th:each="skills: ${skills}"  th:value="${skills.skillName}">
      </datalist>
  </div-->
  <label for="FormInput2" class="form-label">Description </label>
  <input type="text" th:field="*{lastName}" class="form-control" id="FormInput4" th:placeholder="$session.user.lastName">

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm</button>
  </div>
</form>
<script src="geoScript.js"></script>

</body>
</html>